<div class="row">
  <div class="col-md-3 mt-3 mt-sm-0 card-container " *ngFor="let a of products | paginate: config; let i = index ">
    <div class="card text-center product p-4 border-0 h-100 rounded-0">
      <img class="img-fluid d-block mx-auto"
           src="https://spring-boot-backend-api-rest.herokuapp.com/api/image/get/upload/{{a.imageName}}/PHOTO_ITEM"
           alt="{{a.nameMedia}}">
      <div class="card-body" style="padding-top: 10%">
        <h5 class="card-title font-weight-semi-bold mb-3 w-xl-220p mx-auto">{{a.nameMedia}}</h5>
        <p class="price text-primary">{{a.price | currency: 'Bs.'}}</p>
      </div>
      <p class="btn w-100 px-4 mx-auto">
        <input type="submit" class="btn btn-dark btn-lg w-100" name="add-button" value="Buy Now">
      </p>
    </div>
  </div>
  <div class="row col-md-12">
    <div class="d-flex justify-content-center">
      <pagination-controls (pageChange)="pageChanged($event)"
                           directionLinks={{config.directionLinks}}
                           autoHide={{config.autoHide}}
                           responsive={{config.responsive}}
                           previousLabel={{config.previousLabel}}
                           nextLabel={{config.nextLabel}}>
      </pagination-controls>
    </div>
  </div>
</div>

